<h1>ZOO!</h1>

<a href="/#!/add"><input type="button" value="add animals"></a>
<a href="/#!/zoo"><input type="button" value="look at your zoo"></a>
<a href="/#!/"><input type="button" value="home"></a>

<h2>Look at all these animals you have!</h2>
<ul>
  <li ng-repeat="animal in animals">{{ animal.name }} is a {{animal.age}} year old {{animal.species}} 
    <input type="button" value="remove" ng-click="remove(animal._id)">
    <input type="button" value="edit" ng-click="editing = !editing">
    <div ng-if="editing">
      <input type="text" ng-model="animal.name">
      <input type="text" ng-model="animal.species">
      <input type="text" ng-model="animal.age">
      <input type="button" value="save" ng-click="save(animal._id, animal)">
    </div>
  </li>
</ul>