<h1>ZOO!</h1>

<a href="/#!/add"><input type="button" value="edit your zoo"></a>
<a href="/#!/zoo"><input type="button" value="look at your zoo"></a>
<a href="/#!/"><input type="button" value="home"></a>

<h2>Look at all these animals you have!</h2>

  <div class="animalCard" ng-repeat="animal in animals">
  <img class="animalPic" src="http://www.oregonzoo.org/sites/default/files/styles/article-full/public/H_caracal-kitten_1.jpg?itok=DsNk2oS2">
  {{ animal.name }} is a {{animal.age}} year old {{animal.species}} cared for by 
    <span ng-if="animal.zookeepers.length === 0"> 
      no one
    </span>
    <span ng-repeat="zookeeper in animal.zookeepers">
      {{$last? ' and ' : ''}}{{zookeeper.name}}{{$last? '.' : ', '}}
    </span>
    <div>
      <input type="button" value="remove" ng-click="remove(animal._id)">
      <input type="button" value="edit" ng-click="editing = !editing">
    </div>
    <div ng-if="editing">
      <input type="text" ng-model="animal.name">
      <input type="text" ng-model="animal.species">
      <input type="text" ng-model="animal.age">
      <input type="button" value="save" ng-click="save(animal._id, animal)">
    </div>
  </div>
